body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comic Sans MS', cursive; 
  line-height: 1.6;
  background-color: #C4A484; 
  color: #5C4033; 
}

ul.navbar {
  background-color: #FFCCCC;
  text-align: center;
  list-style-type: none; 
  padding: 0; 
  display: flex;
  justify-content: space-around; 
  border-bottom: none;
}

ul.navbar li a {
  font-family: 'Comic Sans MS', cursive; 
  color: #5C4033; 
  text-decoration: none;
  display: block;
  padding: 20px; 
  font-size: 18px; 
}

ul.navbar li:first-child, ul.navbar li:last-child {
  width: 32%; 
}

section {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #FF99CC;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; 
  float: left;
}

h1, h2 {
  color: #FF6699; 
  position: absolute;
}

p {
  margin-bottom: 20px;
}
